<div class="panel panel-primary">
    <div class="sample-heading">Sample Angular JS App</div>

    <div class="panel2-body">
        <div class="menu">
            <table>
                <thead>
                    <tr>
                        <td></td>
                    </tr>
                </thead>
                <tbody class="amenu-body">
                    <tr>
                        <td>
                            <div>
                                <div ui-sref="EditCustomer" typeof="button" class="ibtn btn-primary">Click Me</div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="view-bottom">Sample Angular Application   {{vm.message}}</div>
</div>
